body {
    background-image: url("../img/newsbg.jpg");
    padding: 9%;
    background-size: auto;
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#main {
    padding: 7%; 
    text-align: center;
    background-color:rgb(255, 255, 255, 0.9);
    float: center;
}