body {
  background-image:  url("../img/newsbg.jpg");
 
}

#card-buttons {
  align-content: center;
}

.container {
  padding-top: 60px;
}

#cardcontainer {
background-color:rgb(220, 220, 220, 0.5);
}

.card-image-top {
  width: 500;
  height: 300;
}


@media (min-width: 50em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}

@media (min-width: 70em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}







